

	body {
		color: #302f2f;
		background-color: #bfe5eb;
		font: 62.5%/1.2 Georgia, Times, Serif;
	}
	

#messErreur{

	display:none;
	color : red;
	font-size:90%;
}

#messCourriel{

	display:none;
	color : red;
	font-size:90%;
}



ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}
li
{
background-image: url(../images/crochet.png);
background-repeat: no-repeat;
background-position: 0px 3px;
padding-left: 15px;
margin-left:15px;
}


hr{
color: #cc0000;
/*background-color: #f00;*/
height: 1px;
margin:40px 0px 25px 0px;
}


b{
color: #1a52a4;
}



a:link { color: blue; text-decoration: none }
a:visited { color: blue; text-decoration: none; }
a:hover { color: blue; text-decoration: underline; }
a:active { color: blue; text-decoration: none; }




h1{color: #1a52a4;font-size: 2em;font-weight: normal;margin: 0 0 20px 0;}
h5{color:#000000;font-family : Arial, Helvetica, sans-serif;font-size:108%;font-variant:small-caps;margin-bottom:4px;margin-top:45px;}
h6{color:#000000;background-image: url(/images/bg01.png);width:100%;padding:3px 3px 3px 3px;font-family : Arial, Helvetica, sans-serif;font-size:108%;font-variant:small-caps;margin-bottom:4px;margin-top:45px;}
h4{color:#000000;background-image: url(/images/bg02.png);width:100%;padding:3px 3px 3px 3px;font-family : Arial, Helvetica, sans-serif;font-size:108%;font-variant:small-caps;margin-bottom:4px;margin-top:45px;}


span {font-variant:normal;font-size:80%;font-weight:100; }

#PartieHaut {
width : 800px;
height : 420px;
margin:0px;
padding:0px;

}
#MTL {
width : 383px;
height : 227px;
float : left;
background : url(../images/mtl.png) no-repeat;
}
.MENU {
width : 163px;
height : 227px;
float : left;
}
#ChoixVide {
width : 163px;
height : 38px;
padding : 0;
margin : 0;
background : url(../images/02.png) no-repeat;
}
#ChoixAccueil {
width : 163px;
height : 38px;
padding : 0;
margin : 0;
}
#ChoixActivites {
width : 163px;
height : 38px;
padding : 0;
margin : 0;
}
#ChoixHoraire {
width : 163px;
height : 37px;
padding : 0;
margin : 0;
}
#ChoixListe {
width : 163px;
height : 38px;
padding : 0;
margin : 0;
}
#ChoixApropos {
width : 163px;
height : 38px;
padding : 0;
margin : 0;
}
#LogoJourneeINRS {
width : 254px;
height : 227px;
float : left;
background : url(../images/JourneeINRS2011.png) no-repeat;
}
#Date {
width : 800px;
height : 183px;
float : left;
background : url(../images/Date.png) no-repeat;
}
#PiedDePage {
left : 0;
bottom : 0;
width : 800px;
height : 123px;
background : url(../images/bottom.png) no-repeat;
/*background : url(../images/background.png) repeat-y left;*/

}

#Contenu {
min-height:400px;
padding : 0px 65px 0px 30px;
margin:0px;
width : 505px;
background : url(../images/background.png) repeat-y left;

}


.RangeeRouge {
font-size : 9pt;
display:inline-table;
width:80%;
background-image: url(/images/bg01.png);
padding:3px 3px 3px 3px;
margin-bottom:1px;
}


.RangeeJaune {
font-size : 9pt;
display:inline-table;
width:80%;
background-image: url(/images/bg02.png);
padding:3px 3px 3px 3px;
margin-bottom:1px;
}

.Heure{
width:10%;
float:left;
}

.Description{
width:89%;
float:right;
}

.Hr{
width:18%;
float:left;
}

.Desc{
width:82%;
float:right;
}

.InscritNonPayer {
display:inline-table;
width:235px;
float:left;
min-height:15px;
font-size:90%;
background-image: url(../images/Inscrit.gif);
background-repeat: no-repeat;
background-position: 0px 4px;
padding-left: 10px;
margin-top:3px;


}

.InscritPayer {
display:inline-table;
width:235px;
float:left;
min-height:15px;
font-size:90%;
background-image: url(../images/InscritPayer.gif);
background-repeat: no-repeat;
background-position: 0px 4px;
padding-left: 10px;
margin-top:3px;

}

.EnAttente{
display:inline-table;
width:235px;
float:left;
min-height:15px;
font-size:90%;
background-image: url(../images/EnAttente.gif);
background-repeat: no-repeat;
background-position: 0px 4px;
padding-left: 10px;
margin-top:3px;

}